body{
    background-image: url("https://ui-promotions.sportsbetting.ag/images/promotions/sportsbetting-mlp-945-25000-joker-tournament-mobile.png");
    background-size: cover;
    margin-left: 100px;
}

h1{
    margin-left: 500px;
    /* font-size: x-large; */
    color:white;
}
.blackJack{
    margin-left: 400px;
    margin-top: -30px;
}
.scoreBoard{
    font-size: x-large;
    padding: 20px;
    margin-left: 470px;
    margin-top: -40px;
    font-weight: bold;
    color: white;
}
.start{
    width: 125px;
    height: 20px;
}
.hit{
    width: 125px;
    height: 20px;
}
.stay{
    width: 125px;
    height: 20px;
}
.dealerScore{
    margin-left: 50px;
    font-weight: bolder;
    font-size: x-large;
    color:white;
}
.dealer{
    margin-bottom: 100px;
}
.cards{
    margin-bottom: 30px;
}