body{
    background-image: url("https://www.makeplayingcards.com/images/site/risingsun/ks-201901-07.gif");
    background-size: cover;
    margin-left: 100px;
}

h1{

    margin-left: 400px;
    /* font-size: x-large; */
    color:white;
}
.blackJack{
    margin-left: 400px;
    margin-top: -30px;
}
.scoreBoard{
    font-size: x-large;
    padding: 20px;
    margin-left: 470px;
    margin-top: -80px;
    font-weight: bold;
    color: white;
}
.start{
    width: 125px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
}
.hit{
    width: 125px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
}
.stay{
    width: 125px;
    height: 20px;
    border-radius: 50%;
}
.dealerScore{
    margin-left: 50px;
    font-weight: bolder;
    font-size: x-large;
    color:white;
}
.dealer{
    margin-bottom: 100px;
}
.cards{
    margin-bottom: 30px;
}
.pic{
    border-radius: 50%;
}
.refresh{
    width: 125px;
    height: 20px;
    border-radius: 50%;
}