body{
    background-image: url("https://c8.alamy.com/comp/J26R3M/poker-chips-on-green-felt-casino-table-gambling-poker-blackjack-and-J26R3M.jpg");
    background-size: cover;
    margin-left: 100px;
}

h1{
    margin-left: 500px;
    /* font-size: x-large; */
}
.blackJack{
    margin-left: 400px;
    margin-top: -30px;
}
.scoreBoard{
    font-size: x-large;
    padding: 20px;
    margin-left: 470px;
    margin-top: -40px;
    font-weight: bold;
}
.start{
    width: 125px;
    height: 20px;
}
.hit{
    width: 125px;
    height: 20px;
}
.stay{
    width: 125px;
    height: 20px;
}
.dealerScore{
    margin-left: 50px;
    font-weight: bolder;
    font-size: x-large;
}
.dealer{
    margin-bottom: 100px;
}